.github-corner {
    z-index: 20;
}

#main blockquote {
    background-color: #e2a05a22;
    padding: 5px 22px;
    border-radius: 10px;
}

#main pre {
    border-radius: 10px;
    background-color: #32375910;
}

#main pre code {
    padding: 1rem 0;
    background-color: transparent;
}

#main blockquote p {
    color: #323759bb;
}

#main blockquote p:last-child {
    color: #323759bb;
    position: relative;
    top: 3px;
}

.app-nav {
    padding: 0;
    margin: 0;
    /* padding-right: 100px; */
    /* box-shadow: 0px 0px 10px #5685; */
    border-bottom: 1px solid #5682;
    /* color: #323739; */
    color: #3A404C;
    /* background:linear-gradient(120deg, rgba(216, 168, 255, 0.411) 0%, rgba(201, 209, 255, 0.507) 100%); */
    backdrop-filter: blur(10px);
    height: 65px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    /* 垂直居中 */
}

.sidebar-toggle {
    background: transparent;
    margin: 10px;
    width: auto;
}

.markdown-section code {
    /* color: #5d7afc; */
    color: #e08817;
}

.sidebar-toggle-button {
    padding: 8px;
    /* box-shadow: 0 0 10px #5685; */
    background-color: #fff;
    border: 2px solid #e2a05a33;
    border-radius: 10px;
}

code .token .tag {
    color: #e08817 !important;
}

/* .sidebar-toggle-button:hover {
    border-color: #5d7afc;
    background-color: #fff;
} */

.sidebar-toggle span {
    width: 20px;
    height: 3px;
    margin-bottom: 5px;
}

.sidebar-toggle span:last-child {
    margin-bottom: 0;
}

main.hidden ~ nav.app-nav {
    display: none;
}

.app-nav ul:first-child::before {
    content: 'XME-Deon-Bot';
    /* position: relative; */
    /* right: 40%; */
    font-size: 2em;
    margin-right: auto;
    font-weight: 500;
    font-family: 'Chillax-Variable', sans-serif;
    display: inline-flex;
    height: 100%;
    float: left;
    justify-content: left;
    align-items: center;
}

/*
.app-nav ul li {
  height: 100%;
  display: inline-flex;
  align-items: center;
} */
* {
    font-family: 'Geist Variable', -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Microsoft YaHei', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif, 'Noto Sans SC', sans-serif;
    font-size: 1.02em;
}

.app-nav ul:first-child {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    /* justify-content: right; */
    align-items: center;
    /* 垂直居中 */
}

.app-nav li ul {
    border-radius: 10px;
    border: 1px solid #5682;
}

.app-nav li ul li {
    text-align: center;
    padding: 5px 0;
    font-size: 1em;
}

.cover-main img {
    height: 250px;
}

.content {
    max-width: 1500px;
    margin: auto;
    /* box-shadow: 0 0 20px #5682; */
    /* border: 1px solid #5682; */
}

.sidebar nav ul:first-child {
    margin: 0;
    margin-right: 15px;
    margin-bottom: 20px;
}

.sidebar nav ul li {
    width: 100%;
    border-bottom: 1px solid #e2a05a33;
    padding: 12px 0;
    margin: 0;
    display: flex;
    /* justify-content: right; */
    align-items: center;
}

.sidebar nav ul li > ul > li {
    border: none;
    font-size: 0.9em;
}

.sidebar nav ul li > ul {
    width: 160px;
}

.sidebar nav ul li a {
    padding-left: 10px;
    margin-left: 5px;
    width: 80%;
    font-size: 1.15em;
}

.sidebar nav li a.active {
    margin-left: 2px;
    border-left: 3px solid var(--theme-color, #42b983);
}

main {
    margin-top: 50px;
}

.sidebar {
    padding-top: 100px;
    padding-left: 15px;
    transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.content {
    transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

@media (max-width: 768px) {
    .sidebar {
        padding-top: 30px;
    }

    body.close .sidebar-toggle {
        width: auto;
        background-color: transparent;
    }
}

.has-mask .mask {
    background-color: #feda !important;
    opacity: 1 !important;
    backdrop-filter: blur(10px);
}

section.cover .cover-main > p:last-child a:hover {
    color: #3A404C;
}

#main::after {
    border-top: 1px solid #5682;
    content: "Powered By docsify";
    display: block;
    margin: auto;
    padding: 20px 10px;
    width: 100%;
}